database/* @akarmanov2022
.github/* @akarmanov2022
**/*.java @akarmanov2022
**/database/** @akarmanov2022
**/*.sql @akarmanov2022
**/*.gradle @akarmanov2022
**/Dockerfile @akarmanov2022
**/*.js @BDA228 @akarmanov2022
**/*.ts @BDA228 @akarmanov2022
**/*.tsx @BDA228 @akarmanov2022
**/*.jsx @BDA228 @akarmanov2022
**/*.css @BDA228 @akarmanov2022