database/* @akarmanov2022
.github/* @akarmanov2022
**/*.java @akarmanov2022
**/database/** @akarmanov2022
**/*.sql @akarmanov2022
**/*.gradle @akarmanov2022
**/Dockerfile @akarmanov2022
**/*.js deniska_belodedov@mail.ru @akarmanov2022
**/*.ts deniska_belodedov@mail.ru @akarmanov2022
**/*.tsx deniska_belodedov@mail.ru @akarmanov2022
**/*.jsx deniska_belodedov@mail.ru @akarmanov2022
**/*.css deniska_belodedov@mail.ru @akarmanov2022